.blog-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 2rem;
}

.blog-card {
    width: calc(50% - 1rem);
}

.blog-subtitle {
    color: var(--grey);
    font-weight: 400;
}

.blog-hr {
    width: 50px;
    border: none;
    border-bottom: 2px solid var(--red);
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 0;
}

.blog-feaimg {
    background-position: center;
    background-size: cover;
    border-radius: 3px;
    filter: var(--dropshadow)
}

.blog-card a {
    text-decoration: none;
}
.blog-card h3 {
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 680px) {
    .blog-grid {
        row-gap: 2rem;
    }

    .blog-card {
        width: 100%;
        max-width: var(--mobile-colwid);
        margin: auto;
    }
}