#glowCookies-banner {
    padding: 1.25rem;
    border-radius: 0.5rem;
}

@media screen and (max-width:454px) {
    #glowCookies-banner {
        border-radius: 0;
    }   
}

#glowCookies-banner h3 {
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0.75rem;
    font-size: 1.25rem;
}