.pb_simple_img {
    margin-top: 4rem;
}

.simple-img {
    max-width: 100%;
    filter: var(--dropshadow);
    border-radius: 3px;
}

.img-desc {
    font-style: italic;
    color: var(--grey);
}

.img-desc a {
    color: var(--grey);
}