.pb_toggle:not(.lastmodule) {
    margin-bottom: 2rem;
}

details {
    width: 100%;
    padding: 1.5rem 1.5rem;
    margin: 0 auto;
    position: relative;
    font-size: 1rem;
    border: 1px solid var(--grey);
    border-radius: 3px;
    box-sizing: border-box;
    transition: all .3s;
}

details[open] {
    min-height: 3rem;
    background-color: white;
    filter: var(--dropshadow)
}

summary {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--red);
}

summary .safari-fix {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.safari-fix span {
    width: 90%;
}

summary:focus {
    outline: none;
}

.control-icon {
    color: var(--red);
    transition: .3s ease;
    font-size: 2rem;
    line-height: 1;
    margin: auto 0;
}

.control-icon-close {
    display: none;
}

details[open] .control-icon-close {
    display: initial;
    transition: .3s ease;
    margin: 0;
}

details[open] .control-icon-expand {
    display: none;
}

::-webkit-details-marker {
    display: none
}